.grid {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 200px);
  grid-auto-columns: repeat(3, 200px);
  gap: 20px;
  justify-items: stretch;
  justify-content: center;
}

.contentCard {
  width: 660px;
}
