//ici se trouvent tout le css qui concerne les éléments de base html

body {
  margin: 0;
  font-family: var(
    --font-family
  ); // on utilise la variable --font-family définie dans _variables.scss
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}
