@use "./mixins" as mixin;
// ici se trouvent tout le css qui concerne les classes utilitaires pour le debug visuel des éléments
.b1 {
  background-color: red;
  border: 1px solid red;
}

.b2 {
  background-color: green;
  border: 2px solid green;
}

.b3 {
  background-color: blue;
  border: 3px solid blue;
}

.b4 {
  background-color: purple;
  border: 4px solid purple;
}

.br {
  @include mixin.xs {
    border: 2px solid red;
  }
  @include mixin.sm {
    border: 2px solid green;
  }
  @include mixin.md {
    border: 2px solid blue;
  }
  @include mixin.lg {
    border: 2px solid orange;
  }
  @include mixin.xl {
    border: 2px solid purple;
  }
}
