// ici se trouvent tout le css qui concerne les classes utilitaires pour le flexbox
// les classes utilitaires permettent d'appliquer rapidement des styles spécifiques sans avoir à écrire du CSS personnalisé à chaque fois
.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-fill {
  flex: 1 1 auto;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
