// ici se trouvent tout le css qui concerne les classes utilitaires pour le padding et le margin
.p5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.mr-5 {
  margin: 5px;
}

.mr-15 {
  margin: 15px;
}
.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 60%;
}
